{% load static %}
<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="{% static 'base.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  
  {% block extrahead %}
  
  {% endblock %}
  <meta charset="utf-8">
  {% block title %}<title></title>{% endblock %}
  
  <script src="https://kit.fontawesome.com/c0de917e91.js" crossorigin="anonymous"></script>
 
  <div class="top_bar">
    <div id="hidden_menu" class="hidden-menu">
      <div class="reverse_toggle">
        <i class="fa-solid fa-xmark fa-lg cancel_icon" id="cancel_hidden_div" class="hidden_m_text"></i>
      </div>
      <p class="hidden_m_text">Hello {{user.username}}</p>
      <div class="hidden_menu_item">
        <a href="{% url 'view_cart_items' %}" class="hidden_m_text">My Account</a>
      </div>
      <div class="hidden_menu_item">
        <a href="/client_checkout" class="hidden_m_text">Free Delivery</a>
      </div>
      <div class="hidden_menu_item">
        <a href="https://www.instagram.com/sheerohnjuguna_anatolyvech/" class="hidden_m_text">Contact Us</a>

      </div>
      <div class="hidden_menu_item">
        <form action="{% url 'logout' %}" method="post">
          {% csrf_token %}
        <button type="submit" class="topbar_items">Log Out</button>
      </form>
      </div>

  </div>
  <div class="toggle_bars">
    <i class="fa-solid fa-bars fa-lg" class="topbar_items" id="toggle_bars"></i>

  </div>
    <a href="/">
      <span class="sheeroh_foods" class="topbar_items">Sheeroh Foods</span>

    </a>
    <a href="/client_checkout">
      <i class="fa-solid fa-truck fa-lg" class="topbar_items" style="color: aliceblue;"><span>Free delivery</span></i>

    </a>
    <span class="search_container">
      <form id="search_form" action="{% url 'search'%}">
        {% csrf_token %}
        <input placeholder="search foods" id="search_bar" name="q"></input>
        <button type="submit" id="submitButton" style="display: none;"></button>
        <i id= "submiticon" class="fa-solid fa-magnifying-glass" onclick="document.getElementById('submitButton').click();"></i>

      </form>
    </span>
    </i>
    {% block cart %}
      {% if user.is_authenticated %}
        <span class="cart_container">
          <a href="view_cart_items">
            <i class="fa-solid fa-cart-shopping fa-lg" class="topbar_items" style="color: aliceblue;"></i>
            <span class="cart-count">{{total_menu_incart}}</span>
      
          </a>
        </span>
      {% else %}
        <span class="cart_container">
          <a href="view_cart_items">
            <i class="fa-solid fa-cart-shopping fa-lg" class="topbar_items" style="color: aliceblue;"></i>
      
          </a>
        </span>
        {% endif %}
    {% endblock%}

    
    
  {% block authentication %}
    {% if user.is_authenticated %}
    <span>
      <i class="fa fa-user fa-lg" aria-hidden="true" class="topbar_items"> 
      </i>
      <span>{{ user.username}} </span>

    </span>
      <a href="{% url 'logout' %}">Logout</a>
      <!--<form action="{% url 'logout' %}" method="post">
          {% csrf_token %}
        <button type="submit" class="topbar_items">Log Out</button>
      </form>-->
    {% else %}
  
      <a href="{% url 'login' %}">Login</a>
      <a href="{% url 'password_change' %}">Change password?</a>

     {% endif %}

  {% endblock %}
   
  
</div>     
    
</head>

<body>
  <main>
    <div class="splice_cover">
      {% block splice%}
        <div class="owl-carousel owl-theme"></div>

      {% endblock %}

    </div>
   
    <div class="main_menu">
      {% block menu%}

       
      {% endblock %}
    </div>

    <div class="footer">
    {% block btfooter%}
        <div class="ways_to_order">
          <h3>How to order</h3>
            <p>Order Online</p>
            <p><i class="fa-solid fa-phone"></i> Call 084-903456</p>
            <p>Dm on our socials</p>
            <span class="social_icons">
              <a href="https://www.instagram.com/sheerohnjuguna_anatolyvech/">
                <i class="fa-brands fa-instagram" style="margin: 1em 1em; color: aliceblue;"  ></i>
              </a>
              <a href="https://www.google.com/gmail/about/">
                <i class="fa-solid fa-envelope" style="margin: 1em 1em; color: aliceblue;"></i>
              </a>
              <a href="https://web.facebook.com/mary.wanjiru.3766/?_rdc=1&_rdr">
                <i class="fa-brands fa-facebook" style="margin: 1em 1em; color: aliceblue;"></i>
              </a>
              <a href="https://twitter.com/SheerohNjuguna">
                <i class="fa-brands fa-twitter" style="margin: 1em 1em; color: aliceblue; "></i>
              </a>
            </span>
        </div>

        <div class="locations">
          <h3>Locations</h3>
          <p>Nairobi</p>
          <p>Nyahururu</p>
          <p>Seattle</p>
        </div>

        <div class="Newsletter">
          <h3><i class="fa-solid fa-envelope"></i> SignUp to Our Newsletter</h3>
        </div>

    {% endblock %}
      
    </div>
    
    
  </main>  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="{%  static 'splice.js' %}">    
  </script>
  <script src="{%  static 'toogle.js' %}"></script>
  <script src="{% static 'search.js'%}"></script>

</body>

</html>