{% extends "base.html" %}
{% load static %}


{% block title %}{% endblock %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<i class="fa fa-user" aria-hidden="true"> {{ user.username}} 
</i>
<p><a href="{% url 'password_change'%}">password change</a></p>
<form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button type="submit">Log Out</button>
</form>
{% else %}
<p>You are not logged in</p>
<p><a href="{% url 'password_reset' %}">Password Reset</a></p>
<p><a href="{% url 'login' %}">Log In</a></p>
{% endif %}
{% endblock %}
{% block splice%}
<p>This is the homepage</p>
<ul>
{% for food in foodlist %}
    <li>{{food.product_name}} {{food.photo}}</li>
{% endfor %}
</ul>

{% endblock %}