{% extends "base.html" %}
{% load static %}
{% block extrahead %}
    
{% endblock %}

<body>
    <main>
            {% block splice %}
                <div class="Cart_display">
                    <h3>Your cart Items</h3>
                    <div class="header_span">
                        <span class="price_span">Price</span>

                    </div>
                    <div class="checkout_div">
                        <p>Total ({{aggregate_cart}} Items)</p>
                        <a href="{% url 'client_checkout'%}">
                            <button class="Proceed_To_Checkout">Proceed To Checkout</button>
                        </a>
                    </div>

                    {% for item in toppick_items_in_cart %}
                        <div class="cart_item_display">
                            <img src="{{MEDIA_URL}}{{item.toppick_cart_product__pick_photo}}" width="200px" height="200px"/>
                            <p>{{item.toppick_cart_product__pick_description}}</p>
                            <div class="cart_price">
                                <p>${{item.toppick_cart_product__pick_price}}</p>
                            </div>
                            <div>
                                <p>Qty:{{item.number_items}}</p>
                            </div>
                        </div>
                        

                    {% endfor %}
                    {% for menu in menu_items_in_cart %}
                        <div class="cart_item_display">
                            <img src="{{MEDIA_URL}}{{menu.menu_product_id__photo}}" width="200px" height="200px"/>
                            <p>{{menu.menu_product_id__product_name}}</p>
                            <div class="cart_price">
                                <p>${{menu.menu_product_id__product_selling_price}}</p>
                            </div>
                            <div>
                                <p>Qty:{{menu.number_items}}</p>

                            </div>

                        </div>  

                    {% endfor %}
                </div>
            {% endblock %} 
    
    </main>
</body>