{% extends "base.html" %}
{% load static %}
{% block extrahead %}
    
{% endblock %}

<body>
    <main>
            {% block splice %}
                <div class="Cart_display">
                    <h3>Your cart Items</h3>
                    <div class="header_span">
                        <span class="price_span">Price</span>

                    </div>
                    <div class="checkout_div">
                        <p>Total ({{total_menu_incart}} Items)</p>
                        <a href="{% url 'client_checkout'%}">
                            <button class="Proceed_To_Checkout">Proceed To Checkout</button>
                        </a>
                    </div>
                    
                    {% for menu in menu_items_in_cart %}
                        <div class="cart_item_display">
                            <img src="{{MEDIA_URL}}{{menu.cart_product_id__photo}}" width="200px" height="200px"/>
                            <p>{{menu.cart_product_id__product_name}}</p>
                            <div class="cart_price">
                                <p>${{menu.cart_product_id__product_selling_price}}</p>
                            </div>
                            <div>
                                <p>Qty:{{menu.number_items}}</p> 
                                <div class="add_or_remove_item">
                                    <form id="plus_itembutton" method="post" action="{% url 'add_one_item_tocart'%}">
                                       {% csrf_token %}
                                        <input type="hidden" name="add_id" value="{{menu.cart_product_id__product_serial_no}}">
                                        <input type="hidden" name="add_name" value="{{menu.cart_product_id__product_name}}">
                                        <button type="submit">+</button>
                                        
                                    </form>
                                    <form id="minus_itemfromcart" method="post" action="{% url 'reduce_cart_item_by_one'%}">
                                        {% csrf_token %}
                                        <input type="hidden" name="minus_id" value="{{menu.cart_product_id__product_serial_no}}">
                                        <input type="hidden" name="minus_name" value="{{menu.cart_product_id__product_name}}">
                                        <button type="submit">-</button>
                
                                    </form>
                                    
                                   

                                </div>

                            </div>
                            <div>
                                <form id="remove_from_cart" method="post" action="{% url 'remove_from_cart'%}">

                                    {% csrf_token %}
                                    <input type="hidden" name="remove_id" value="{{menu.cart_product_id__product_serial_no}}">
                                    <input type="hidden" name="remove_name" value="{{menu.cart_product_id__product_name}}">
                                    <button type="submit" class="remove_from_cart">Remove from Cart</button>
            
                                </form>
                            </div>

                        </div>  

                    {% endfor %}
                </div>
            {% endblock %} 
    
    </main>
</body>