{% extends "base.html" %}
{% load static %}
<head>
    {% block cart %}
        
        <span class="cart_container">
          <a href="view_cart_items">
            <i class="fa-solid fa-cart-shopping fa-lg" class="topbar_items" style="color: aliceblue;"></i>
            <span class="cart-count">{{no_of_items_in_cart}}</span>
      
          </a>
        </span>
    {% endblock%}

</head>

<body>
    <main>
        {% block splice%}
            <div class="owl-carousel owl-theme">
                {% for splice in splice_images %}
                    <div class="item">
                        <img src="{{ splice.splice_photo.url }}" alt="{{splice.splice_description }}">
                        <p class="splice_des_paragraph">{{splice.splice_description}}</p>
                    </div>                 
                {% endfor %} 
            </div>
        {% endblock %}

        {% block menu%}

        {% for food in food_list %}
            <div> 
                <a href="/product_details?product_serial_no={{food.product_serial_no}}">
                    <img src="{{ food.photo.url }}" alt="{{food.product_name}}" width="250px" height="250px">
                </a>
                <div>
                    <a href="product_details?product_serial_no={{food.product_id}}">
                        <p> {{food.product_name}} </p>
                    </a>
                    <a href="product_details?product_serial_no={{food.product_id}}">
                        <p>$ {{food.product_selling_price}}</p>
                    </a>

                    <form id="add_to_cart" method="post" action="{% url 'add_items_tocart'%}">

                        {% csrf_token %}
                        <input type="hidden" name="food_id" value="{{food.product_serial_no}}">
                        <input type="hidden" name="food_name" value="{{food.product_name}}">
                        <button type="submit" class="add_to_cart">Add to Cart</button>

                    </form>

                </div>
            </div>
        {% endfor %}
        </ul>
        
        {% endblock %}
        <script src="{% static 'add_tocart.js' %}"></script>
  
        
    </main>
    

</body>
