{% extends "base.html" %}
{% load static %}
{% block extrahead %}
    
{% endblock %}

<body>
    <main>
        {% block splice%}
            <div class="owl-carousel owl-theme">
                {% for splice in splice_images %}
                    <div class="item">
                        <img src="{{ splice.splice_photo.url }}" alt="{{splice.splice_description }}">
                        <p class="splice_des_paragraph">{{splice.splice_description}}</p>
                    </div>                 
                {% endfor %} 
            </div>
        {% endblock %}

        {% block toppicks%}
        
            {% for pick in Top_food_picks %}
            <div class="toppick_item">
                <a href="/toppick?id={{pick.id}}">
                    <img src="{{ pick.pick_photo.url }}" alt="{{pick.pick_description }}" width="250px" height="250px">
                </a>
                
                <span>
                    <a href="/toppick?id={{pick.id}}">
                        <p> {{pick.pick_description }} </p>
                    </a>
                    <a href="/toppick?id={{pick.id}}">
                        <p>$ {{pick.pick_price}}</p>
                    </a>
                    <button class="add_to_cart">Add to Cart</button>

                </span>
            </div>
            {% endfor %}
            </ul>
        
        {% endblock %}
        
        {% block menu%}

        {% for food in food_list %}
            <div> 
                <a href="/product_details?product_serial_no={{food.product_serial_no}}">
                    <img src="{{ food.photo.url }}" alt="{{food.product_name}}" width="250px" height="250px">
                </a>
                <div>
                    <a href="product_details?product_serial_no={{food.product_serial_no}}">
                        <p> {{food.product_name}} </p>
                    </a>
                    <a href="product_details?product_serial_no={{food.product_serial_no}}">
                        <p>$ {{food.product_selling_price}}</p>
                    </a>

                    <button class="add_to_cart">Add to Cart</button>
                </div>
            </div>
        {% endfor %}
        </ul>
        
        {% endblock %}
        
        
    </main>
    

</body>
