{% extends "base.html" %}
{% load static %}

<body>
    <main>
        {% block splice%}
            <div class="owl-carousel owl-theme">
                {% for splice in splice_images %}
                    <div class="item">
                        <img src="{{ splice.splice_photo.url }}" alt="{{splice.splice_description }}">
                        <p class="splice_des_paragraph">{{splice.splice_description}}</p>
                    </div>                 
                {% endfor %} 
            </div>
        {% endblock %}

        {% block toppicks%}
        
            {% for pick in Top_food_picks %}
            <div class="toppick_item">
                <a href="/toppick?id={{pick.id}}">
                    <img src="{{ pick.pick_photo.url }}" alt="{{pick.pick_description }}" width="250px" height="250px">
                </a>
                
                <span>
                    <a href="/toppick?id={{pick.id}}">
                        <p> {{pick.pick_description }} </p>
                    </a>
                    <a href="/toppick?id={{pick.id}}">
                        <p>$ {{pick.pick_price}}</p>
                    </a>
                    <form method="post" action="{% url 'add_toppick_tocart' %}">

                        {% csrf_token %}
                        <input type="hidden" name="pick_id" value="{{ pick.id}}">
                        <input type="hidden" name="pick_name" value="{{pick.pick_description}}">
                        <input type="hidden" name="quantity" value="1">
                        <button type="submit" class="add_to_cart">Add to Cart</button>

                    </form>

                </span>
            </div>
            {% endfor %}
            </ul>
        
        {% endblock %}
        
        {% block menu%}

        {% for food in food_list %}
            <div> 
                <a href="/product_details?product_serial_no={{food.product_serial_no}}">
                    <img src="{{ food.photo.url }}" alt="{{food.product_name}}" width="250px" height="250px">
                </a>
                <div>
                    <a href="product_details?product_serial_no={{food.product_serial_no}}">
                        <p> {{food.product_name}} </p>
                    </a>
                    <a href="product_details?product_serial_no={{food.product_serial_no}}">
                        <p>$ {{food.product_selling_price}}</p>
                    </a>

                    <form method="post" action="{% url 'add_menu_tocart' %}">

                        {% csrf_token %}
                        <input type="hidden" name="food_id" value="{{food.product_serial_no}}">
                        <input type="hidden" name="food_name" value="{{food.product_name}}">
                        <input type="hidden" name="quantity" value="1">
                        <button type="submit" class="add_to_cart">Add to Cart</button>

                    </form>

                </div>
            </div>
        {% endfor %}
        </ul>
        
        {% endblock %}
        
        
    </main>
    

</body>
